* {
  box-sizing: border-box
}

::-webkit-scrollbar {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(225, 220, 255, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(225, 220, 255, 0.3);
}

::-webkit-scrollbar-corner {
  background: none;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #dedede;
  background: #34343a;
  font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 18px;
}

button {
  font-size: 15px;
  padding: 5px 8px;
  background: #2c4277;
  color: #dedede;
  border: none;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

pre {
  margin: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  &_titlebar {
    padding-top: 22px;
    -webkit-app-region: drag;

    &_title {
      padding: 3px 15px 9px;
      margin-bottom: 5px;
      border-bottom: 2px solid #1f1f1f;
    }

    &_refresh {
      -webkit-app-region: no-drag;
    }
  }

  &_stageView {
    display: flex;
    height: calc(111px + 15%);
    flex-shrink: 0;
    user-select: none;

    &_pane {
      $gap: 6px;
      display: flex;
      flex-direction: column;
      width: calc(50% - #{$gap * 3 / 2});
      margin: 0 $gap;
      padding-bottom: 12px;

      &:last-child {
        margin-left: 0px;
      }

      &_title {
        padding: 5px 7px;
        margin: 0;
      }

      &_content {
        overflow-y: auto;
        background: #1f1f1f;
        flex-grow: 1;
      }

      &_file {
        display: flex;
        border-bottom: 1px solid #1f1f1f;

        &-selected {
          background: #215692;
        }

        &-drag {
          background: #2f73be;
        }

        &_select {
          flex-grow: 1;
          padding: 5px;
        }

        &_action {
          margin: 1px;
        }
      }
    }
  }

  &_diffView {
    flex-grow: 1;
    overflow: auto;
    margin: 0 6px 6px 6px;
    padding: 7px 10px;
    font-family: monospace;
    background: #28282b;

    &_inner {
      display: table;
      min-width: 100%;
    }

    &_line {
      display: table-row;
      height: 18px;

      &-addition {
        color: #65c056;
        background: rgba(#65c056, 0.1);
      }

      &-removal {
        color: #ed6666;
        background: rgba(#ed6666, 0.1);
      }

      &_number {
        display: table-cell;
        padding: 0 7px;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        text-align: right;

        &::before {
          content: attr(data-line-number);
        }
      }

      &_type {
        display: table-cell;
        padding: 0 5px;

        &::before {
          content: attr(data-line-number);
        }
      }

      &_text {
        display: table-cell;
      }
    }
  }
}
